.root {
  display: block;
  border-radius: var(--radius-full);
  object-fit: cover;
  flex-shrink: 0;
}

.noimg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-muted);
  color: var(--typography-black-60);
  overflow: hidden;
}

.noimg svg {
  width: 100%;
  height: 100%;
}
